In [1]:
import pandas as pd
import numpy as np

In [2]:
heart_disease =pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
X = heart_disease.drop("target",axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [4]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [5]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train , y_test = train_test_split(X,y,test_size =0.2)

In [8]:
clf.fit(X_train, y_train);

In [9]:
#make a prediction

y_lable = clf.predict(np.array[0,2,3,4])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [11]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
61,54,1,1,108,309,0,1,156,0,0.0,2,0,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2

In [13]:
y_preds =clf.predict(X_test)
y_preds

array([1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1], dtype=int64)

In [14]:
y_test

287    0
61     1
60     1
270    0
141    1
      ..
148    1
290    0
44     1
209    0
15     1
Name: target, Length: 61, dtype: int64

In [19]:
# Evaluate
clf.score(X_train,y_train)

1.0

In [20]:
clf.score(X_test,y_test)

0.8360655737704918

In [23]:

from  sklearn.metrics import  classification_report, confusion_matrix, accuracy_score

In [24]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       1.00      0.71      0.83        34
           1       0.73      1.00      0.84        27

    accuracy                           0.84        61
   macro avg       0.86      0.85      0.84        61
weighted avg       0.88      0.84      0.83        61

In [ ]:
confusion_matrix(y_test)